@using System.ComponentModel.DataAnnotations
@inject IAuthService _authService


<MudDialog >
    <DialogContent>
        <MudTabs ApplyEffectsToContainer="true">
            <MudTabPanel Text="Register">
                <EditForm FormName="Register" Model="@registerUser" OnValidSubmit="OnValidSubmitRegister">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem lg="12" md="12" sm="12">

                            <MudCardContent>
                                <MudTextField Label="Name" Variant="Variant.Outlined"
                                @bind-Value="registerUser.Name" For="@(() => registerUser.Name)" />
                                <MudTextField Label="Email" Class="mt-3" Variant="Variant.Outlined"
                                @bind-Value="registerUser.Email" For="@(() => registerUser.Email)" />
                                <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3" Variant="Variant.Outlined"
                                @bind-Value="registerUser.Password" For="@(() => registerUser.Password)" InputType="InputType.Password" />
                                <MudTextField Label="Confirm Password" HelperText="Repeat the password" Class="mt-3" Variant="Variant.Outlined"
                                @bind-Value="registerUser.ConfirmPassword" For="@(() => registerUser.ConfirmPassword)" InputType="InputType.Password" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                            </MudCardActions>

                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudTabPanel>
            <MudTabPanel Text="Login">
                <EditForm FormName="Login" Model="@loginUser" OnValidSubmit="OnValidSubmitLogin">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem lg="12" md="12" sm="12">

                            <MudCardContent>

                                <MudTextField Label="Email" Class="mt-3" Variant="Variant.Outlined"
                                @bind-Value="loginUser.Email" For="@(() => loginUser.Email)" />
                                <MudTextField Label="Password" Class="mt-3" Variant="Variant.Outlined"
                                @bind-Value="loginUser.Password" For="@(() => loginUser.Password)" InputType="InputType.Password" />

                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                            </MudCardActions>
                            <p>@errorMessage</p>

                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudTabPanel>

        </MudTabs>
    </DialogContent>
    <DialogActions>

    </DialogActions>
</MudDialog>

@code {
    LoginUser loginUser = new LoginUser();

    string errorMessage = string.Empty;

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    RegisterUser registerUser = new RegisterUser();    

    private void Cancel() => MudDialog.Cancel();

    private void OnValidSubmitRegister(EditContext context)
    {
        _authService.Register(registerUser);
        StateHasChanged();
    }

    private async Task OnValidSubmitLogin(EditContext context)
    {
        var result = await _authService.Login(loginUser);
        if (result)
        {
            errorMessage = "Login Success";
        }
        StateHasChanged();
    }
}
